// МЕНЮ

// Пункы меню
.page-header__menu a {
  transition: color $transition-time ease;

  &::after {
    transition: width $transition-min-time ease;
  }

  &:hover,
  &:focus {
    &::after {
      width: 100%;
      right: auto;
      left: 0;
    }
  }
}

// Социальные иконки
.social-block__toggler {
  &::before {
    transition: all $transition-time ease;
  }
}

.social-block__list li {
  opacity: 0;
  transform: translateY(10px);
  transition: all $transition-min-time ease;

  .social-block:hover & {
    opacity: 1;
    transform: translateY(0);
  }
}

.social-block__link {
  transition: color $transition-time ease;
}

// ГЛАВНАЯ СТРАНИЦА

.intro__message {
  transition: all $transition-time ease;

  .active & {
    opacity: 1;
    transform: translateY(-20px);
  }
}

// СТРАНИЦА ИСТОРИИ

.slider__item-text {
  opacity: 0;
  transform: translate(30px);
  transition: all $transition-min-time ease;

  .active .swiper-slide-active &,
  .active .swiper-slide-next & {
    opacity: 1;
    transform: translate(0);
  }

  .active .swiper-slide-active & {
    transition-delay: 0.3s;
  }

  .active .swiper-slide-next & {
    transition-delay: 0.6s;
  }
}

// СТРАНИЦА ИГРЫ

.form__field {
  width: 0;
  padding: 0;
  margin-left: calc(100% - 21rem);
  transition: all $transition-min-time ease;

  @media (min-width: $stop-scaling) {
    margin-left: calc(100% - 210px);
  }

  @media (orientation: portrait) {
    margin-left: calc(100% - 5rem);
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-left: calc(100% - 9rem);
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-left: calc(100% - 5rem);
  }

  .active & {
    width: calc(100% - 21rem);
    margin-left: 0;
    padding: 0 5.6rem;

    @media (min-width: $stop-scaling) {
      width: calc(100% - 210px);
      padding: 0 56px;
    }

    @media (orientation: portrait) {
      width: calc(100% - 5rem);
      padding: 0 2.5rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: calc(100% - 9rem);
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: calc(100% - 5rem);
      padding: 0 2.5rem;
    }
  }
}

